<p id="notice"><%= notice %></p>

<h1>To Read Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_read_lists.each do |to_read_list| %>
      <tr>
        <td><%= to_read_list.user %></td>
        <td><%= to_read_list.book %></td>
        <td><%= link_to 'Show', to_read_list %></td>
        <td><%= link_to 'Edit', edit_to_read_list_path(to_read_list) %></td>
        <td><%= link_to 'Destroy', to_read_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To Read List', new_to_read_list_path %>
