<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <p>
          <strong>Title:</strong>
          <%= @book.title %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= @book.author %>
        </p>

        <p>
          <strong>Genre:</strong>
          <%= @book.genre %>
        </p>

        <%= render 'books/show/button-group' %>

      </div>
    </div>
    <div class="card">
      <div class="card-body h-100">
        <%= @book.description %>

        <%= link_to book_path(@book), remote: true, method: :delete do %>
        <%= icon 'fas', 'trash' if current_user.admin? %>
      <% end %>
    </div>
  </div>
</div>
<div class="col text-center">
  <%= image_tag(@book.cover, class: 'img-fluid') %>
</div>
</div>