<h1>Books</h1>

<%= render 'books/search_form' %>

<%= sort_link(@q, :author, default_order: :asc) do %>
  <strong>Author name</strong>
<% end %>

<%= sort_link(@q, :title, default_order: :asc) do %>
  <strong>Title</strong>
<% end %>

<div class="row">


  <% @books.each do |book| %>

    <div class="col col-xs-3 col-md-4 col-lg-6 col-xl-12">

      <div class="card mb-5 border border-dark rounded shadow-lg">
        <%= link_to(image_tag(book.cover, class: 'img-fluid border border-dark rounded'), book) %>

        <div class="card-body">
          <h5 class="card-title">  <%= book.title %> </h5>
          <p> <%= book.author %> </p>

          <p class="card-text"> <%= truncate(book.description, length: 100) %> </p>

          <%= link_to 'Show', book, class: 'btn btn-primary' %>
          <%= link_to 'Add as Favorite', favorite_book_path(book, favorite: 'yes'), remote: true, method: :post, id: "book-#{book.id}", class: 'btn btn-primary' %>
        </div>
      </div>

    </div>

  <% end %>
</div>
