<p id="notice"><%= notice %></p>

<h1>Books</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <caption>List of books</caption>

    <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Cover</th>
      <th scope="col">Genre</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Favorite</th>
      <th scope="col">To read</th>
      <th scope="col" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @books.each do |book| %>
      <% if book.user == current_user %>
        <tr scope="row">
          <td class="align-middle text-center"><%= book.title %></td>
          <td class="align-middle text-center"><%= book.author %></td>
          <td class="align-middle text-center"><%= image_tag book.cover, class: 'img-fluid' %></td>
          <td class="align-middle text-center"><%= book.genre %></td>
          <td class="align-middle text-center"><%= truncate(book.description, length: 100) %></td>
          <td class="align-middle text-center"><%= book.rating %></td>
          <td class="align-middle text-center"><%= truncate(book.review, length: 100) %></td>
          <td class="align-middle text-center"><%= book.favorite %></td>
          <td class="align-middle text-center"><%= book.to_read %></td>
          <td class="align-middle text-center"><%= link_to 'Show', book %></td>
          <td class="align-middle text-center"><%= link_to 'Edit', edit_book_path(book) %></td>
          <td class="align-middle text-center"><%= link_to 'Destroy', book, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>

    <% end %>
    </tbody>
  </table>

</div>
<br>

<%= link_to 'New Book', new_book_path %>
