<div class="row">
  <div class="col text-center my-auto">
    <div class="card">
      <div class="card-body">

        <p>
          <strong>Title:</strong>
          <%= @book.title %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= @book.author %>
        </p>

        <p>
          <strong>Genre:</strong>
          <%= @book.genre %>
        </p>


        <div class="btn-group">

          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>

          <%= link_to current_user.favorited?(@book) ? 'Unfavorite' : 'Favorite', favorite_book_path(@book),
                      method: :put, id: "favorite_link", class: 'btn btn-primary',
                      remote: true %>

          <%= link_to "Add review", new_book_review_path(@book), class: 'btn btn-primary' %>
          <%= link_to "Read", read_book_path(@book), method: :put, remote: true, class: 'btn btn-primary' %>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= @book.description %>
      </div>
    </div>
  </div>
  <div class="col text-center">
    <%= image_tag @book.cover, class: "img-fluid" %>
  </div>
</div>

<hr>

<div class="row">
  <% unless @reviews.blank? %>
    <% @reviews.each do |review| %>
    <div class="col">

        <div class="media my-1">
          <%= image_tag "http://via.placeholder.com/64x64" %>

          <div class="media-body ml-1">
            <h5 class="mt-0"> <%= review.title %> </h5>
            <%= review.body %> </div>
        </div>

        <hr>
      <% end %>
    </div>
  <% end %>
</div>
