<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <p>
          <strong>Title:</strong>
          <%= @book.title %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= @book.author %>
        </p>

        <p>
          <strong>Genre:</strong>
          <%= @book.genre %>
        </p>

        <div class="btn-group">

          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' if current_user.admin? %>

          <% if ReadingList.exists?(book: @book, user: current_user) %>
            <%= link_to "Reading", read_remove_book_path(@book), method: :delete, remote: true, class: 'btn btn-success' %>
          <% else %>
            <%= link_to "Read", read_book_path(@book), method: :post, remote: true, class: 'btn btn-primary' %>
          <% end %>

          <% if Favorite.exists?(book: @book, user: current_user) %>
            <%= link_to 'Favorited', unfavorite_book_path(@book), method: :delete, remote: true, class: 'btn btn-success' %>
          <% else %>
            <%= link_to 'Favorite', favorite_book_path(@book), method: :post, remote: true, class: 'btn btn-primary' %>
          <% end %>

          <%= link_to "Add review", new_book_review_path(@book, user: current_user), class: 'btn btn-primary' %>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body h-100">
        <%= @book.description %>
      </div>
    </div>
  </div>
  <div class="col text-center">
    <%= image_tag(@book.cover, class: 'img-fluid') %>
  </div>
</div>

<hr>

<div class="row">
  <% unless @reviews.blank? %>
    <% @reviews.each do |review| %>
      <div class="col col-md-4 mb-2">

        <div class="card">
          <div class="card-body text-center">
            <figure class="figure">
              <%= gravatar_image_tag(review.user.email, class: 'img-fluid rounded-circle m-auto d-block') %>
              <span class="badge badge-primary"><%= review.rating %></span>

              <figcaption class="figure-caption text-center ">
                <%= review.user.name %>
              </figcaption>
            </figure>

            <p class="text-center"><%= review.user.email %>
            </p>
            <p class="text-center"><%= time_ago_in_words(review.created_at) %>
              ago</p>
          </div>
        </div>

      </div>

      <div class="col col-md-8">
        <div class="media my-1">

          <div class="review media-body ml-1">
            <h4 class="mt-0">
              <%= review.title %>
            </h4>
            <%= review.content %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>
</div>
