<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @book.review %>
</p>

<p>
  <strong>To read:</strong>
  <%= @book.to_read %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to favorite_text, favorite_books_update_path(book: @book), id: "favorite_link", class: 'btn btn-primary', remote: true %>
<%= link_to 'Back', profile_index_path %>
