<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <%= @review.user.name %>
</p>
<p>
  <strong>Book:</strong>
  <%= @review.book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_book_review_path(@review) %>
<%= link_to 'Back', book_reviews_path %>
