<h1>Favorite books</h1>


<% if @favorite_books.empty? %>
  <p>No favorite books yet!</p>
<% end %>

<div class="row">
  <% @favorite_books.each do |favorite_book| %>

    <div class="col col-xs-6 col-md-3 col-lg-2">
      <div class="card mb-5">
        <%= link_to(image_tag(favorite_book.cover, class: 'img-fluid'), favorite_book) %>

        <div class="card-body">
          <h5 class="card-title">  <%= favorite_book.title %> </h5>
          <p> <%= favorite_book.author %> </p>

          <p class="card-text"> <%= truncate(favorite_book.description, length: 100) %> </p>

          <%= link_to 'More', favorite_book, class: 'btn btn-primary center-block' %>

        </div>
      </div>

    </div>
  <% end %>
</div>

